<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>商品搜索_电脑_京东网上商城-综合网购首选</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="__ROOT__/public/js/global.js"></script>
    <script type="text/javascript" src="__ROOT__/public/js/compare.js"></script>
    <script type="text/javascript" src="__ROOT__/public/js/common.js"></script>
    <link href="__ROOT__/public/themes/jindong/stye1024.css" type="text/css" rel="stylesheet" />
    <style type="text/css">
	<!--
	.age_box a{float: left; height:22px; line-height:22px; width:70px; background:url(__ROOT__/public/themes/jindong/images/biao6.gif) 0 center no-repeat; padding-left:10px;font-family:Arial, Helvetica, sans-serif;color:#333333}
	-->
	</style>
	<script type="Text/Javascript" language="JavaScript">
	function selectPage(sel)
	{
	  sel.form.submit();
	}
	var button_compare = "比较选定商品";
    var exist = "您已经选择了%s";
    var count_limit = "最多只能选择4个商品进行对比";
    var goods_type_different = "\"%s\"和已选择商品类型不同无法进行对比";
    var button_compare = '';
    var exist = "您已经选择了%s";
    var count_limit = "最多只能选择4个商品进行对比";
    var goods_type_different = "\"%s\"和已选择商品类型不同无法进行对比";
    var compare_no_goods = "您没有选定任何需要比较的商品或者比较的商品数少于 2 个。";
	window.onload = function()
	{
	Compare.init();
	//fixpng();
	}
	var btn_buy = "购买";
	var is_cancel = "取消";
	var select_spe = "请选择商品属性";
	</script>
  </head>
  <body>
    <div id="container">
      
      <include file="Public:header" />
      
      <div class="p_w" style="clear:both; overflow:hidden"></div>
      <div id="globalLeft">
        <div id="o-search" style="bottom:50px;">
          <div class="allsort">
            <div class="mt">
              <strong><a href="__APP__/Catalog/index">全部商品分类</a></strong>
              <div class="extra">&nbsp;</div>
            </div>
            <div class="mc">
              <!-- 左上动态菜单 -->
              <div class="item  fore" onMouseOver="this.className='item  fore  hover';"  onMouseOut="this.className='item  fore';">
                <span>
                  <h3><a href="category.php?id=355">展销会专栏</a></h3>
                  <s></s>
                </span>
                <div class="i-mc">
                  <div class="subitem">
                    <dl  class="fore" >
                      <dt><a href="category.php?id=356">红酒</a></dt>
                      <dd>
                        <em><a href="category.php?id=363">长城干红系列</a></em>
                        <em><a href="category.php?id=356">更多&gt;&gt;</a></em>
                      </dd>
                    </dl>
                  </div>
                  <div class="fr">
				    <dl class="brands">
				      <dt>推荐品牌</dt>
				      <dd> 
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				      </dd>
				    </dl>
				  </div>
                </div>
              </div>
              <div class="item  fore" onMouseOver="this.className='item  fore  hover';"  onMouseOut="this.className='item  fore';">
                <span>
                  <h3><a href="category.php?id=355">展销会专栏</a></h3>
                  <s></s>
                </span>
                <div class="i-mc">
                  <div class="subitem">
                    <dl  class="fore" >
                      <dt><a href="category.php?id=356">红酒</a></dt>
                      <dd>
                        <em><a href="category.php?id=363">长城干红系列</a></em>
                        <em><a href="category.php?id=356">更多&gt;&gt;</a></em>
                      </dd>
                    </dl>
                  </div>
                  <div class="fr">
				    <dl class="brands">
				      <dt>推荐品牌</dt>
				      <dd> 
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				      </dd>
				    </dl>
				  </div>
                </div>
              </div>
              <div class="item  fore" onMouseOver="this.className='item  fore  hover';"  onMouseOut="this.className='item  fore';">
                <span>
                  <h3><a href="category.php?id=355">展销会专栏</a></h3>
                  <s></s>
                </span>
                <div class="i-mc">
                  <div class="subitem">
                    <dl  class="fore" >
                      <dt><a href="category.php?id=356">红酒</a></dt>
                      <dd>
                        <em><a href="category.php?id=363">长城干红系列</a></em>
                        <em><a href="category.php?id=356">更多&gt;&gt;</a></em>
                      </dd>
                    </dl>
                  </div>
                  <div class="fr">
				    <dl class="brands">
				      <dt>推荐品牌</dt>
				      <dd> 
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				      </dd>
				    </dl>
				  </div>
                </div>
              </div>
              <div class="item  fore" onMouseOver="this.className='item  fore  hover';"  onMouseOut="this.className='item  fore';">
                <span>
                  <h3><a href="category.php?id=355">展销会专栏</a></h3>
                  <s></s>
                </span>
                <div class="i-mc">
                  <div class="subitem">
                    <dl  class="fore" >
                      <dt><a href="category.php?id=356">红酒</a></dt>
                      <dd>
                        <em><a href="category.php?id=363">长城干红系列</a></em>
                        <em><a href="category.php?id=356">更多&gt;&gt;</a></em>
                      </dd>
                    </dl>
                  </div>
                  <div class="fr">
				    <dl class="brands">
				      <dt>推荐品牌</dt>
				      <dd> 
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				      </dd>
				    </dl>
				  </div>
                </div>
              </div>
              <div class="extra">
                <a href="__APP__/Catalog/index">全部商品分类</a>
              </div>
            </div>
          </div>
        </div>
        <div class="blank"></div>
        <div id="brandlist" class="globalModule" style="margin-top:355px;">
          <h3><div id="list_t_l"><div id="list_t_r"><b>按年龄查询</b></div></div></h3>
          <div id="global_box">
            <div style="clear:both"></div>
            <div class="age_box">
              <a target="_blank" href="#">出生-12个月</a>
              <a target="_blank" href="#">12-24个月</a>
              <a target="_blank" href="#">2岁</a>
              <a target="_blank" href="#">3-4岁</a>
              <a target="_blank" href="#">5-7岁</a>
              <a target="_blank" href="#">8-11岁</a>
              <a target="_blank" href="#">12-14岁</a>
              <a target="_blank" href="#">15岁以上</a>
            </div>
          </div>
        </div>
        <div class="blank"></div>
        <div id="topList" class="globalModule">
          <h3><div id="list_t_l"><div id="list_t_r"><b>销售排行</b></div></div></h3>
          <div id="global_box">
            <ul>
              <li style=" overflow:hidden;">
                <span class="count" >1</span>
                <div class="top_one">
                  <a style="color:#FFF" href="__APP__/Goods/index" title=""><img style=" width:50px; height:38px;" src="__ROOT__/public/images/201001/thumb_img/4753_thumb_G_1264530751217.jpg" alt="" class="samllimg" /> </a>
                  <a style="float:left" href="__APP__/Goods/index" title="">贝尔莱德 蒸汽挂烫机GS18-DJ/H ... 
                  <br/>美智价：<font class="f1">￥199元</font></a>
                </div>
                <div style="clear:both"></div>
              </li>
              <li style=" overflow:hidden;">
                <span class="count" >2</span>
                <a href="__APP__/Goods/index" title="">多普达(Dopod) S505 CDMA...</a>
              </li>
              <li style=" overflow:hidden;">
                <span class="count" >3</span>
                <a href="__APP__/Goods/index" title="">多普达(Dopod) S505 CDMA...</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div id="globalBigRight">
        <div id="globalGoodsList" class="globalModule">
          <div class="globalGoodsListMenu">
            <form action="" method="post" class="sort" name="listform">
              <span>搜索结果</span>
              <span style="float: right; margin-top:-26px;" >
                <span class="globalGoodsListMenuDisplay">显示方式：  <a href="javascript:;" onclick="javascript:display_mode('list')"><img src="__ROOT__/public/themes/jindong/images/btn_display_mode_list.gif" alt="" /></a> <a href="javascript:;" onClick="javascript:display_mode('grid')"><img src="__ROOT__/public/themes/jindong/images/btn_display_mode_grid_act.gif" alt="" /></a></span>
                <select name="sort">
                  <option value="goods_id" selected>按上架时间排序</option>
                  <option value="shop_price">按价格排序</option>
                  <option value="last_update">按更新时间排序</option>
                </select>
                <select name="order">
                  <option value="DESC" selected>倒序</option>
                  <option value="ASC">正序</option>
                </select>
                <input type="image" name="imageField" src="__ROOT__/public/themes/jindong/images/btn_submit.gif" />
                <input type="hidden" name="page" value="1" />
                <input type="hidden" name="display" value="grid" id="display" />
                <input type="hidden" name="keywords" value="电脑" />
                <input type="hidden" name="category" value="0" />
                <input type="hidden" name="brand" value="0" />
                <input type="hidden" name="min_price" value="0" />
                <input type="hidden" name="max_price" value="0" />
                <input type="hidden" name="action" value="" />
                <input type="hidden" name="intro" value="" />
                <input type="hidden" name="goods_type" value="0" />
                <input type="hidden" name="sc_ds" value="0" />
                <input type="hidden" name="outstock" value="0" />
              </span>
            </form>
          </div>
          <div class="itemGrid">
            <div class="item">
              <p class="pic"><a href="__APP__/Goods/index"><img src="__ROOT__/public/images/201001/thumb_img/4730_thumb_G_1262451940947.jpg" alt="惠普（HP）DX2355MT WE572..." /></a></p>
              <p class="name" style="height:36px; overflow:hidden; margin:0 15px;">
                <a href="__APP__/Goods/index" title="">惠普（HP）DX2355MT WE572...<span>三年上门服务 主流配置 HP品质</span></a>
              </p>
              <p class="price">
                <span class="marketPrice">￥3838元</span>
                <span class="goodsPrice">￥3199元</span>
              </p>			
              <p class="btnList">
                <a href="javascript:collect(4730)"><img src="__ROOT__/public/themes/jindong/images/buttons_coll.gif"></a> <a href="javascript:addToCart(4730)"><img src="__ROOT__/public/themes/jindong/images/buttons_buy.gif"></a> <a href="javascript:;" onClick="Compare.add(4730,'惠普（HP）DX2355MT WE572...')"><img src="__ROOT__/public/themes/jindong/images/buttons_comp.gif"></a>
              </p>
            </div>
            <div class="item">
              <p class="pic"><a href="__APP__/Goods/index"><img src="__ROOT__/public/images/201001/thumb_img/4730_thumb_G_1262451940947.jpg" alt="惠普（HP）DX2355MT WE572..." /></a></p>
              <p class="name" style="height:36px; overflow:hidden; margin:0 15px;">
                <a href="__APP__/Goods/index" title="">惠普（HP）DX2355MT WE572...<span>三年上门服务 主流配置 HP品质</span></a>
              </p>
              <p class="price">
                <span class="marketPrice">￥3838元</span>
                <span class="goodsPrice">￥3199元</span>
              </p>			
              <p class="btnList">
                <a href="javascript:collect(4730)"><img src="__ROOT__/public/themes/jindong/images/buttons_coll.gif"></a> <a href="javascript:addToCart(4730)"><img src="__ROOT__/public/themes/jindong/images/buttons_buy.gif"></a> <a href="javascript:;" onClick="Compare.add(4730,'惠普（HP）DX2355MT WE572...')"><img src="__ROOT__/public/themes/jindong/images/buttons_comp.gif"></a>
              </p>
            </div>
            <div class="item">
              <p class="pic"><a href="__APP__/Goods/index"><img src="__ROOT__/public/images/201001/thumb_img/4730_thumb_G_1262451940947.jpg" alt="惠普（HP）DX2355MT WE572..." /></a></p>
              <p class="name" style="height:36px; overflow:hidden; margin:0 15px;">
                <a href="__APP__/Goods/index" title="">惠普（HP）DX2355MT WE572...<span>三年上门服务 主流配置 HP品质</span></a>
              </p>
              <p class="price">
                <span class="marketPrice">￥3838元</span>
                <span class="goodsPrice">￥3199元</span>
              </p>			
              <p class="btnList">
                <a href="javascript:collect(4730)"><img src="__ROOT__/public/themes/jindong/images/buttons_coll.gif"></a> <a href="javascript:addToCart(4730)"><img src="__ROOT__/public/themes/jindong/images/buttons_buy.gif"></a> <a href="javascript:;" onClick="Compare.add(4730,'惠普（HP）DX2355MT WE572...')"><img src="__ROOT__/public/themes/jindong/images/buttons_comp.gif"></a>
              </p>
            </div>
          </div>
          <div class="blank"></div>
          <form name="selectPageForm" action="" method="get">
            <div id="pager"></div>
          </form>
        </div>
      </div>
      <div class="blank"></div>
      
      <include file="Public:footer" />
    
    </div>
  </body>
</html>