<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>用户中心_京东网上商城-综合网购首选</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="__ROOT__/public/themes/jindong/stye1024.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <div id="container">
      
      <include file="Public:header" />
      
      <div class="p_w" style="clear:both; overflow:hidden"></div>
      <div class="usBox">
        <div class="usBox_2 clearfix">
          <form action="user.php" method="post" name="getPassword" onsubmit="return submitPwdInfo();">
            <br />
            <table width="70%" border="0" align="center">
              <tr>
                <td colspan="2" align="center"><strong>请输入您注册的用户名和注册时填写的电子邮件地址。</strong></td>
              </tr>
              <tr>
                <td width="29%" align="right">用户名</td>
                <td width="61%"><input name="user_name" type="text" size="30" class="inputBg" /></td>
              </tr>
              <tr>
                <td align="right">电子邮件地址</td>
                <td><input name="email" type="text" size="30" class="inputBg" /></td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <input type="hidden" name="act" value="send_pwd_email" />
                  <input type="submit" name="submit" value="提 交" class="bnt_blue" style="border:none;" />
                  <input name="button" type="button" onclick="history.back()" value="返回上一页" style="border:none;" />
                </td>
              </tr>
            </table>
            <br />
          </form>
        </div>
      </div>
      <div class="blank"></div>
      <div class="blank"></div>
      
      <include file="Public:footer" />
      
    </div>
  </body>
</html>
