<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>报价单_京东网上商城-综合网购首选</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="__ROOT__/public/js/common.js"></script>
    <link href="__ROOT__/public/themes/jindong/stye1024.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <div id="container">
      
      <include file="Public:header" />
      
      <div class="p_w" style="clear:both; overflow:hidden"></div>
      <div id="urHere" class="globalModule">
        <h3><a href=".">首页</a> <code>&gt;</code> 报价单</h3>
      </div>
      <div class="blank"></div>
      <div class="tab_box">
        <div id="globalWholesaleCart" class="globalModule globalFrame" style="width:100%">
          <div class="tab_title"><h3>打印报价单</h3></div>
          <div class="globalModuleContent">
            <form action="__APP__/Quotation/point" method="post" name="searchForm" target="_blank" class="quotation">
              <select name="cat_id">
                <option value="0">所有分类</option>
                <option value="355" >展销会专栏</option>
                <option value="361" >&nbsp;&nbsp;&nbsp;&nbsp;海产</option>
                <option value="366" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;波力鱼翅</option>
                <option value="358" >&nbsp;&nbsp;&nbsp;&nbsp;洋酒</option>
                <option value="362" >&nbsp;&nbsp;&nbsp;&nbsp;必备年货精品</option>
                <option value="359" >&nbsp;&nbsp;&nbsp;&nbsp;干果</option>
                <option value="356" >&nbsp;&nbsp;&nbsp;&nbsp;红酒</option>
                <option value="363" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;长城干红系列</option>
                <option value="360" >&nbsp;&nbsp;&nbsp;&nbsp;休闲食品</option>
                <option value="365" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;恰恰系列</option>
                <option value="357" >&nbsp;&nbsp;&nbsp;&nbsp;白酒</option>
                <option value="364" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;洋河蓝色经典系列</option>
                <option value="297" >钟表首饰、礼品箱包</option>
                <option value="345" >&nbsp;&nbsp;&nbsp;&nbsp;钟表</option>
                <option value="307" >&nbsp;&nbsp;&nbsp;&nbsp;珠宝首饰</option>
                <option value="308" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;非主流饰品</option>
                <option value="296" >服饰鞋帽</option>
                <option value="323" >&nbsp;&nbsp;&nbsp;&nbsp;内衣</option>
                <option value="324" >&nbsp;&nbsp;&nbsp;&nbsp;配饰</option>
                <option value="321" >&nbsp;&nbsp;&nbsp;&nbsp;女装</option>
                <option value="309" >&nbsp;&nbsp;&nbsp;&nbsp;男装</option>
                <option value="310" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;衬衫T恤</option>
                <option value="325" >&nbsp;&nbsp;&nbsp;&nbsp;鞋靴</option>
                <option value="322" >&nbsp;&nbsp;&nbsp;&nbsp;运动</option>
                <option value="300" >食品饮料、保健品</option>
                <option value="313" >&nbsp;&nbsp;&nbsp;&nbsp;地方特产</option>
                <option value="314" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;新疆山东</option>
                <option value="342" >&nbsp;&nbsp;&nbsp;&nbsp;营养健康</option>
                <option value="339" >&nbsp;&nbsp;&nbsp;&nbsp;休闲食品</option>
                <option value="343" >&nbsp;&nbsp;&nbsp;&nbsp;预防保健</option>
                <option value="340" >&nbsp;&nbsp;&nbsp;&nbsp;粮油调味</option>
                <option value="344" >&nbsp;&nbsp;&nbsp;&nbsp;健康礼品</option>
                <option value="341" >&nbsp;&nbsp;&nbsp;&nbsp;酒饮冲调</option>
                <option value="294" >家具厨具、家装</option>
                <option value="348" >&nbsp;&nbsp;&nbsp;&nbsp;家具</option>
                <option value="352" >&nbsp;&nbsp;&nbsp;&nbsp;宠物用品</option>
                <option value="301" >&nbsp;&nbsp;&nbsp;&nbsp;厨房用具</option>
                <option value="302" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;厨用小件</option>
                <option value="349" >&nbsp;&nbsp;&nbsp;&nbsp;五金灯具</option>
                <option value="346" >&nbsp;&nbsp;&nbsp;&nbsp;精美餐具</option>
                <option value="350" >&nbsp;&nbsp;&nbsp;&nbsp;生活日用</option>
                <option value="347" >&nbsp;&nbsp;&nbsp;&nbsp;家纺</option>
                <option value="351" >&nbsp;&nbsp;&nbsp;&nbsp;清洁用品</option>
                <option value="298" >运动健康</option>
                <option value="332" >&nbsp;&nbsp;&nbsp;&nbsp;户外装备</option>
                <option value="336" >&nbsp;&nbsp;&nbsp;&nbsp;成人用品</option>
                <option value="353" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;组合套装</option>
                <option value="354" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;安全避孕</option>
                <option value="333" >&nbsp;&nbsp;&nbsp;&nbsp;运动器械</option>
                <option value="337" >&nbsp;&nbsp;&nbsp;&nbsp;保健器械</option>
                <option value="305" >&nbsp;&nbsp;&nbsp;&nbsp;户外鞋服</option>
                <option value="306" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;户外服装</option>
                <option value="334" >&nbsp;&nbsp;&nbsp;&nbsp;纤体瑜伽</option>
                <option value="338" >&nbsp;&nbsp;&nbsp;&nbsp;急救卫生</option>
                <option value="335" >&nbsp;&nbsp;&nbsp;&nbsp;体育娱乐</option>
                <option value="295" >电脑软件、办公</option>
                <option value="329" >&nbsp;&nbsp;&nbsp;&nbsp;办公设备</option>
                <option value="326" >&nbsp;&nbsp;&nbsp;&nbsp;电脑配件</option>
                <option value="330" >&nbsp;&nbsp;&nbsp;&nbsp;办公耗材</option>
                <option value="311" >&nbsp;&nbsp;&nbsp;&nbsp;网络产品</option>
                <option value="312" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;路由器</option>
                <option value="327" >&nbsp;&nbsp;&nbsp;&nbsp;外设产品</option>
                <option value="331" >&nbsp;&nbsp;&nbsp;&nbsp;电脑软件</option>
                <option value="328" >&nbsp;&nbsp;&nbsp;&nbsp;电脑整机</option>
                <option value="299" >母婴玩具、乐器</option>
                <option value="316" >&nbsp;&nbsp;&nbsp;&nbsp;尿裤湿巾</option>
                <option value="320" >&nbsp;&nbsp;&nbsp;&nbsp;玩具乐器</option>
                <option value="317" >&nbsp;&nbsp;&nbsp;&nbsp;喂养用品</option>
                <option value="318" >&nbsp;&nbsp;&nbsp;&nbsp;洗护用品</option>
                <option value="315" >&nbsp;&nbsp;&nbsp;&nbsp;奶粉</option>
                <option value="303" >&nbsp;&nbsp;&nbsp;&nbsp;营养辅食</option>
              </select>
              <select name="brand_id">
                <option value="0">所有品牌</option>
                <option value="285">金果子</option>
                <option value="270">海尔</option>
                <option value="268">verbatim(威宝)</option>
                <option value="267">飞毛腿</option>
                <option value="265">超霸</option>
                <option value="266">创新</option>
                <option value="242">富士施乐</option>
                <option value="241">贝尔金</option>
                <option value="240">新蓝</option>
                <option value="239">爱普生</option>
                <option value="238">ThinkPad</option>
                <option value="237">logitech(罗技）</option>
                <option value="236">Lenovo（联想)</option>
                <option value="271">欧南多</option>
                <option value="272">漫步者</option>
                <option value="284">美的</option>
                <option value="283">索尼</option>
                <option value="282">松下</option>
                <option value="281">博世</option>
                <option value="280">三洋</option>
                <option value="279">西门子</option>
                <option value="278">理光</option>
                <option value="277">尼康</option>
                <option value="276">佳能</option>
                <option value="275">三星</option>
                <option value="274">索爱</option>
                <option value="273">九州风神</option>
                <option value="235">Intel(英特尔）</option>
                <option value="234">HP（惠普)</option>
                <option value="233">dell(戴尔)</option>
                <option value="261">飞利浦</option>
                <option value="259">友讯</option>
                <option value="258">忆捷</option>
                <option value="257">兄弟</option>
                <option value="256">希捷</option>
                <option value="255">微软</option>
                <option value="254">威刚</option>
                <option value="269">九阳</option>
                <option value="252">网件</option>
                <option value="251">麦克赛尔</option>
                <option value="250">朗科</option>
                <option value="262">SANDISK</option>
                <option value="263">森海塞尔</option>
                <option value="264">艾利和</option>
                <option value="232">AMD</option>
                <option value="231">金士顿</option>
                <option value="227">NOKIA（诺基亚）</option>
                <option value="243">冠捷</option>
                <option value="248">多彩</option>
                <option value="247">苹果</option>
                <option value="246">技嘉</option>
                <option value="245">华硕</option>
                <option value="244">Acer(宏基)</option>
                <option value="249">酷冷至尊</option>
                <option value="229">Sony Ericsson</option>
                <option value="260">摩托罗拉</option>
                <option value="230">LG</option>
              </select>
              &nbsp;关键字 <input type="text" name="keyword" />
              <input name="act" type="hidden" value="print_quotation" />
              <input type="submit" name="print_quotation" id="print_quotation" value="打印报价单" style="vertical-align:middle;" />
            </form>
          </div>
        </div>
      </div>
      <div class="blank"></div>
      
      <include file="Public:footer" />
    
    </div>
  </body>
</html>