<html>
  <head>
    <title>报价单 - 京东网上商城-综合网购首选</title>
    <style type="text/css" media="all">
      body,td,th {text-align:left;font-size:13px; padding:2px;}
      table{border-top:1px solid #000;border-left:1px solid #000;}
      table td,table th{border-right:1px solid #000;border-bottom:1px solid #000;}
    </style>
    <style type="text/css" media="print">
      .print_btn{display:none;}
    </style>
    <script type="text/javascript">
	    function calc_price(base_price, rank_price)
	    {
	        document.write((base_price * rank_price / 100).toFixed(2));
	    }
	</script>
  </head>
  <body>
    <h3 align="center">京东网上商城-综合网购首选，正品行货，机打发票，售后上门取件，省钱又放心 - 报价单</h3>
    <table width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <th>商品名称</th>
        <th>商品分类</th>
        <th>库存</th>
        <th>价格</th>
        <th>注册用户</th>
      </tr>
      <tr>
        <td>海尔（Haier）电热水器FCD-JTHC60-III(T)整机六年免费包修，加热体终身免费包换，凭发票即可</td>
        <td>电热水器</td>
        <td>21</td>
        <td>787.99</td>
        <td>￥788元</td>
      </tr>
      <tr>
        <td>海尔（Haier）电热水器FCD-JTHC60-III(T)整机六年免费包修，加热体终身免费包换，凭发票即可</td>
        <td>电热水器</td>
        <td>21</td>
        <td>787.99</td>
        <td>￥788元</td>
      </tr>
      <tr>
        <td>海尔（Haier）电热水器FCD-JTHC60-III(T)整机六年免费包修，加热体终身免费包换，凭发票即可</td>
        <td>电热水器</td>
        <td>21</td>
        <td>787.99</td>
        <td>￥788元</td>
      </tr>
      <tr>
        <td>海尔（Haier）电热水器FCD-JTHC60-III(T)整机六年免费包修，加热体终身免费包换，凭发票即可</td>
        <td>电热水器</td>
        <td>21</td>
        <td>787.99</td>
        <td>￥788元</td>
      </tr>
      <tr>
        <td>海尔（Haier）电热水器FCD-JTHC60-III(T)整机六年免费包修，加热体终身免费包换，凭发票即可</td>
        <td>电热水器</td>
        <td>21</td>
        <td>787.99</td>
        <td>￥788元</td>
      </tr>
      <tr>
        <td>海尔（Haier）电热水器FCD-JTHC60-III(T)整机六年免费包修，加热体终身免费包换，凭发票即可</td>
        <td>电热水器</td>
        <td>21</td>
        <td>787.99</td>
        <td>￥788元</td>
      </tr>
      <tr>
        <td>海尔（Haier）电热水器FCD-JTHC60-III(T)整机六年免费包修，加热体终身免费包换，凭发票即可</td>
        <td>电热水器</td>
        <td>21</td>
        <td>787.99</td>
        <td>￥788元</td>
      </tr>
      <tr>
        <td>海尔（Haier）电热水器FCD-JTHC60-III(T)整机六年免费包修，加热体终身免费包换，凭发票即可</td>
        <td>电热水器</td>
        <td>21</td>
        <td>787.99</td>
        <td>￥788元</td>
      </tr>
      <tr>
        <td>海尔（Haier）电热水器FCD-JTHC60-III(T)整机六年免费包修，加热体终身免费包换，凭发票即可</td>
        <td>电热水器</td>
        <td>21</td>
        <td>787.99</td>
        <td>￥788元</td>
      </tr>
      <tr>
        <td>海尔（Haier）电热水器FCD-JTHC60-III(T)整机六年免费包修，加热体终身免费包换，凭发票即可</td>
        <td>电热水器</td>
        <td>21</td>
        <td>787.99</td>
        <td>￥788元</td>
      </tr>
      <tr>
        <td>海尔（Haier）电热水器FCD-JTHC60-III(T)整机六年免费包修，加热体终身免费包换，凭发票即可</td>
        <td>电热水器</td>
        <td>21</td>
        <td>787.99</td>
        <td>￥788元</td>
      </tr>
      <tr>
        <td>海尔（Haier）电热水器FCD-JTHC60-III(T)整机六年免费包修，加热体终身免费包换，凭发票即可</td>
        <td>电热水器</td>
        <td>21</td>
        <td>787.99</td>
        <td>￥788元</td>
      </tr>
      <tr>
        <td>海尔（Haier）电热水器FCD-JTHC60-III(T)整机六年免费包修，加热体终身免费包换，凭发票即可</td>
        <td>电热水器</td>
        <td>21</td>
        <td>787.99</td>
        <td>￥788元</td>
      </tr>
      <tr>
        <td>海尔（Haier）电热水器FCD-JTHC60-III(T)整机六年免费包修，加热体终身免费包换，凭发票即可</td>
        <td>电热水器</td>
        <td>21</td>
        <td>787.99</td>
        <td>￥788元</td>
      </tr>
      <tr>
        <td>海尔（Haier）电热水器FCD-JTHC60-III(T)整机六年免费包修，加热体终身免费包换，凭发票即可</td>
        <td>电热水器</td>
        <td>21</td>
        <td>787.99</td>
        <td>￥788元</td>
      </tr>
      <tr>
        <td>海尔（Haier）电热水器FCD-JTHC60-III(T)整机六年免费包修，加热体终身免费包换，凭发票即可</td>
        <td>电热水器</td>
        <td>21</td>
        <td>787.99</td>
        <td>￥788元</td>
      </tr>
      <tr>
        <td>海尔（Haier）电热水器FCD-JTHC60-III(T)整机六年免费包修，加热体终身免费包换，凭发票即可</td>
        <td>电热水器</td>
        <td>21</td>
        <td>787.99</td>
        <td>￥788元</td>
      </tr>
      <tr>
        <td>海尔（Haier）电热水器FCD-JTHC60-III(T)整机六年免费包修，加热体终身免费包换，凭发票即可</td>
        <td>电热水器</td>
        <td>21</td>
        <td>787.99</td>
        <td>￥788元</td>
      </tr>
      <tr>
        <td>海尔（Haier）电热水器FCD-JTHC60-III(T)整机六年免费包修，加热体终身免费包换，凭发票即可</td>
        <td>电热水器</td>
        <td>21</td>
        <td>787.99</td>
        <td>￥788元</td>
      </tr>
    </table>
    <center><input type="button" class="print_btn" value="打印报价单" onClick="window.print()" /></center>
  </body>
</html>