<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>用户中心_京东网上商城-综合网购首选</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="__ROOT__/public/themes/jindong/stye1024.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="__ROOT__/public/js/transport.js"></script>
    <script type="text/javascript" src="__ROOT__/public/js/user.js"></script>
    <script type="Text/Javascript" language="JavaScript">
	function selectPage(sel)
	{
	  sel.form.submit();
	}
	var compare_no_goods = "您没有选定任何需要比较的商品或者比较的商品数少于 2 个。";
	var btn_buy = "购买";
	var is_cancel = "取消";
	var select_spe = "请选择商品属性";
	var msg_title_empty = "留言标题为空";
    var msg_content_empty = "留言内容为空";
    var msg_title_limit = "留言标题不能超过200个字";
	</script>
  </head>
  <body>
    <div id="container">
      
      <include file="Public:header" />
      
      <div class="p_w" style="clear:both; overflow:hidden"></div>
      <div id="urHere" class="globalModule">
        <h3><a href=".">首页</a> <code>&gt;</code> 用户中心</h3>
      </div>
      <div class="blank"></div>
      <div id="globalLeft">
        <div class="globalModule">
          <h3><div id="list_t_l"><div id="list_t_r"><b>用户中心</b></div></div></h3>
          <div id="global_box" class="userMenu">
            <a href="__APP__/User/index"><img src="__ROOT__/public/themes/jindong/images/u1.gif"> 欢迎页</a>
			<a href="__APP__/User/profile"><img src="__ROOT__/public/themes/jindong/images/u2.gif"> 用户信息</a>
			<a href="__APP__/User/order"><img src="__ROOT__/public/themes/jindong/images/u3.gif"> 我的订单</a>
			<a href="__APP__/User/address"><img src="__ROOT__/public/themes/jindong/images/u4.gif"> 收货地址</a>
			<a href="__APP__/User/collection" class="curs"><img src="__ROOT__/public/themes/jindong/images/u5.gif"> 我的收藏</a>
			<a href="__APP__/User/message"><img src="__ROOT__/public/themes/jindong/images/u6.gif"> 我的留言</a>
			<a href="__APP__/User/tag"><img src="__ROOT__/public/themes/jindong/images/u7.gif"> 我的标签</a>
			<a href="__APP__/User/booking"><img src="__ROOT__/public/themes/jindong/images/u8.gif"> 缺货登记</a>
			<a href="__APP__/User/bonus"><img src="__ROOT__/public/themes/jindong/images/u9.gif"> 我的红包</a>
			<a href="__APP__/User/affiliate"><img src="__ROOT__/public/themes/jindong/images/u10.gif"> 我的推荐</a>
			<a href="__APP__/User/comment"><img src="__ROOT__/public/themes/jindong/images/u11.gif"> 我的评论</a>
			<!--<a href="__APP__/User/groupbuy">我的团购</a>-->
			<a href="__APP__/User/trackpackages"><img src="__ROOT__/public/themes/jindong/images/u12.gif"> 跟踪包裹</a>
			<a href="__APP__/User/accountlog"><img src="__ROOT__/public/themes/jindong/images/u13.gif"> 资金管理</a>
			<a href="__APP__/User/logout" style="background:none; text-align:right; margin-right:10px;"><img src="__ROOT__/public/themes/jindong/images/bnt_sign.gif"></a>
		  </div>
		</div>
      </div>
      <div id="globalBigRight">
        <div class="tab_box">
          <div class="globalModule">
            <div class="tab_title"><h3>收藏商品</h3></div>
            <div class="globalModuleContent">
              <table cellspacing="0" class="tableList">
                <tr>
                  <th width="200">商品名称</th>
                  <th width="120">价格</th>
                  <th width="150">操作</th>
                </tr>
                <tr>
                  <td>
                    <a href="__APP__/Goods/index">松下（Panasonic）NI-S100TS 蒸汽电熨斗 1200w</a>
                  </td>
                  <td>美智价：<span class="goodsPrice">￥89元</span></td>
                  <td>
                    <span class="btnBlue"><a href="javascript:if (confirm('确定将此商品加入关注列表么？'))">关注</a></span>
                    <span class="btnBlue"><a href="#">加入购物车</a></span> <span class="btnBlue"><a href="javascript:if (confirm('您确定要从收藏夹中删除选定的商品吗？'))">删除</a></span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="__APP__/Goods/index">松下（Panasonic）NI-S100TS 蒸汽电熨斗 1200w</a>
                  </td>
                  <td>美智价：<span class="goodsPrice">￥89元</span></td>
                  <td>
                    <span class="btnBlue"><a href="javascript:if (confirm('确定将此商品加入关注列表么？'))">关注</a></span>
                    <span class="btnBlue"><a href="#">加入购物车</a></span> <span class="btnBlue"><a href="javascript:if (confirm('您确定要从收藏夹中删除选定的商品吗？'))">删除</a></span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="__APP__/Goods/index">松下（Panasonic）NI-S100TS 蒸汽电熨斗 1200w</a>
                  </td>
                  <td>美智价：<span class="goodsPrice">￥89元</span></td>
                  <td>
                    <span class="btnBlue"><a href="javascript:if (confirm('确定将此商品加入关注列表么？'))">关注</a></span>
                    <span class="btnBlue"><a href="#">加入购物车</a></span> <span class="btnBlue"><a href="javascript:if (confirm('您确定要从收藏夹中删除选定的商品吗？'))">删除</a></span>
                  </td>
                </tr>
              </table>
              <div class="blank"></div>
              <form name="selectPageForm" action="" method="get">
                <div id="pager"></div>
              </form>
            </div>
          </div>
          <div class="globalModule">
            <div class="tab_title"><h3>我要推荐</h3></div>
            <div class="globalModuleContent">
              <form name="theForm" method="post" action="">
                <table cellspacing="0" class="tableList">
                  <tr>
                    <th width="120">是否显示商品图片：</th>
                    <td>
                      <select name="need_image" id="need_image">
                        <option value="true" selected>显示</option>
                        <option value="false">不显示</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <th>显示商品数量：</th>
                    <td><input name="goods_num" type="text" id="goods_num" value="6" class="textInput" /></td>
                  </tr>
                  <tr>
                    <th>选择商品排列方式：</th>
                    <td>
                      <select name="arrange" id="arrange">
                        <option value="h" selected>横排</option>
                        <option value="v">竖排</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <th>选择编码：</th>
                    <td>
                      <select name="charset" id="charset">
                        <option value="UTF8">国际化编码（utf8）</option>
                        <option value="GB2312">简体中文</option>
                        <option value="BIG5">繁体中文</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2" align="center"><input type="button" name="gen_code" value="生成代码" onclick="genCode()" />        </td>
                  </tr>
                  <tr>
                    <td colspan="2" align="center"><textarea name="code" cols="80" rows="5" id="code"></textarea></td>
                  </tr>
                </table>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="blank"></div>
      
      <include file="Public:footer" />
    
    </div>
  </body>
</html>