<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>用户中心_京东网上商城-综合网购首选</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="__ROOT__/public/themes/jindong/stye1024.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <div id="container">
      
      <include file="Public:header" />
      
      <div class="p_w" style="clear:both; overflow:hidden"></div>
      <div class="box">
        <div class="box_1">
          <h3><span></span></h3>
          <div class="boxCenterList RelaArticle" align="center">
            <div style="margin:20px auto;">
              <p style="font-size: 14px; font-weight:bold; color: red;">您已经成功的退出了。</p>
              <div class="blank"></div>
              <p><a href="__APP__/Index/index">返回上一页</a></p>
              <p><a href="__APP__/Index/index">返回首页</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="blank5"></div>
      <div class="blank"></div>
      
      <include file="Public:footer" />
    
    </div>
  </body>
</html>