<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>AMD Phenom II ×4（羿龙II四核）925盒装CPU（Socket AM3/2.8GHz/2M二级缓存/45纳米）_拍卖活动_京东网上商城-综合网购首选</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="__ROOT__/public/js/common.js"></script>
    <script type="text/javascript" src="__ROOT__/public/js/lefttime.js"></script>
    <link href="__ROOT__/public/themes/jindong/stye1024.css" type="text/css" rel="stylesheet" />
    <style type="text/css">
	<!--
	.age_box a{float: left; height:22px; line-height:22px; width:70px; background:url(__ROOT__/public/themes/jindong/images/biao6.gif) 0 center no-repeat; padding-left:10px;font-family:Arial, Helvetica, sans-serif;color:#333333}
	-->
	</style>
  </head>
  <body>
    <div id="container">
      
      <include file="Public:header" />
      
      <div class="p_w" style="clear:both; overflow:hidden"></div>
      <div id="globalLeft">
        <div id="o-search" style="bottom:50px;">
          <div class="allsort">
            <div class="mt">
              <strong><a href="__APP__/Catalog/index">全部商品分类</a></strong>
              <div class="extra">&nbsp;</div>
            </div>
            <div class="mc">
              <!-- 左上动态菜单 -->
              <div class="item  fore" onMouseOver="this.className='item  fore  hover';"  onMouseOut="this.className='item  fore';">
                <span>
                  <h3><a href="category.php?id=355">展销会专栏</a></h3>
                  <s></s>
                </span>
                <div class="i-mc">
                  <div class="subitem">
                    <dl  class="fore" >
                      <dt><a href="category.php?id=356">红酒</a></dt>
                      <dd>
                        <em><a href="category.php?id=363">长城干红系列</a></em>
                        <em><a href="category.php?id=356">更多&gt;&gt;</a></em>
                      </dd>
                    </dl>
                  </div>
                  <div class="fr">
				    <dl class="brands">
				      <dt>推荐品牌</dt>
				      <dd> 
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				      </dd>
				    </dl>
				  </div>
                </div>
              </div>
              <div class="item  fore" onMouseOver="this.className='item  fore  hover';"  onMouseOut="this.className='item  fore';">
                <span>
                  <h3><a href="category.php?id=355">展销会专栏</a></h3>
                  <s></s>
                </span>
                <div class="i-mc">
                  <div class="subitem">
                    <dl  class="fore" >
                      <dt><a href="category.php?id=356">红酒</a></dt>
                      <dd>
                        <em><a href="category.php?id=363">长城干红系列</a></em>
                        <em><a href="category.php?id=356">更多&gt;&gt;</a></em>
                      </dd>
                    </dl>
                  </div>
                  <div class="fr">
				    <dl class="brands">
				      <dt>推荐品牌</dt>
				      <dd> 
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				      </dd>
				    </dl>
				  </div>
                </div>
              </div>
              <div class="item  fore" onMouseOver="this.className='item  fore  hover';"  onMouseOut="this.className='item  fore';">
                <span>
                  <h3><a href="category.php?id=355">展销会专栏</a></h3>
                  <s></s>
                </span>
                <div class="i-mc">
                  <div class="subitem">
                    <dl  class="fore" >
                      <dt><a href="category.php?id=356">红酒</a></dt>
                      <dd>
                        <em><a href="category.php?id=363">长城干红系列</a></em>
                        <em><a href="category.php?id=356">更多&gt;&gt;</a></em>
                      </dd>
                    </dl>
                  </div>
                  <div class="fr">
				    <dl class="brands">
				      <dt>推荐品牌</dt>
				      <dd> 
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				      </dd>
				    </dl>
				  </div>
                </div>
              </div>
              <div class="item  fore" onMouseOver="this.className='item  fore  hover';"  onMouseOut="this.className='item  fore';">
                <span>
                  <h3><a href="category.php?id=355">展销会专栏</a></h3>
                  <s></s>
                </span>
                <div class="i-mc">
                  <div class="subitem">
                    <dl  class="fore" >
                      <dt><a href="category.php?id=356">红酒</a></dt>
                      <dd>
                        <em><a href="category.php?id=363">长城干红系列</a></em>
                        <em><a href="category.php?id=356">更多&gt;&gt;</a></em>
                      </dd>
                    </dl>
                  </div>
                  <div class="fr">
				    <dl class="brands">
				      <dt>推荐品牌</dt>
				      <dd> 
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				      </dd>
				    </dl>
				  </div>
                </div>
              </div>
              <div class="extra">
                <a href="__APP__/Catalog/index">全部商品分类</a>
              </div>
            </div>
          </div>
        </div>
        <div class="blank"></div>
        <div id="brandlist" class="globalModule" style="margin-top:355px;">
          <h3><div id="list_t_l"><div id="list_t_r"><b>按年龄查询</b></div></div></h3>
          <div id="global_box">
            <div style="clear:both"></div>
            <div class="age_box">
              <a target="_blank" href="#">出生-12个月</a>
              <a target="_blank" href="#">12-24个月</a>
              <a target="_blank" href="#">2岁</a>
              <a target="_blank" href="#">3-4岁</a>
              <a target="_blank" href="#">5-7岁</a>
              <a target="_blank" href="#">8-11岁</a>
              <a target="_blank" href="#">12-14岁</a>
              <a target="_blank" href="#">15岁以上</a>
            </div>
          </div>
        </div>
        <div class="blank"></div>
        <div class="box" id='history_div'>
          <div id="globalHistory" class="globalModule" >
            <h3 class="h3_3" style="border-bottom:1px dotted #efefef"><div id="list_t_l"><div id="list_t_r"><b style="color:#333">最近浏览过的商品</b></div></div></h3>
            <div id="global_box" >
              <ul id="history_list" class="boxCenterList">
                <ul class="clearfix">
                  <li class="goodsimg"><a href="__APP__/Goods/index" target="_blank"><img src="__ROOT__/public/images/201001/thumb_img/4695_thumb_G_1262413210121.jpg" alt="松下（Panasonic）NI-S100TS 蒸汽电熨斗 1200w" class="B_blue" /></a></li>
                  <li><a  class="name2" href="__APP__/Goods/index" target="_blank" title="松下（Panasonic）NI-S100TS 蒸汽电熨斗 1200w">松下（Panasonic）NI-S100...</a><font class="f1">￥89元</font><br /></li>
                </ul>
                <ul class="clearfix">
                  <li class="goodsimg"><a href="__APP__/Goods/index" target="_blank"><img src="__ROOT__/public/images/201001/thumb_img/4695_thumb_G_1262413210121.jpg" alt="松下（Panasonic）NI-S100TS 蒸汽电熨斗 1200w" class="B_blue" /></a></li>
                  <li><a  class="name2" href="__APP__/Goods/index" target="_blank" title="松下（Panasonic）NI-S100TS 蒸汽电熨斗 1200w">松下（Panasonic）NI-S100...</a><font class="f1">￥89元</font><br /></li>
                </ul>
                <ul class="clearfix">
                  <li class="goodsimg"><a href="__APP__/Goods/index" target="_blank"><img src="__ROOT__/public/images/201001/thumb_img/4695_thumb_G_1262413210121.jpg" alt="松下（Panasonic）NI-S100TS 蒸汽电熨斗 1200w" class="B_blue" /></a></li>
                  <li><a  class="name2" href="__APP__/Goods/index" target="_blank" title="松下（Panasonic）NI-S100TS 蒸汽电熨斗 1200w">松下（Panasonic）NI-S100...</a><font class="f1">￥89元</font><br /></li>
                </ul>
                <ul id="clear_history"><a onclick="clear_history()">[清空]</a></ul>  
              </ul>
            </div>
          </div>
        </div>
		<script type="text/javascript">
		if (document.getElementById('history_list').innerHTML.replace(/\s/g,'').length<1)
		{
		    document.getElementById('history_div').style.display='none';
		}
		else
		{
		    document.getElementById('history_div').style.display='block';
		}
		function clear_history()
		{
		Ajax.call('user.php', 'act=clear_history',clear_history_Response, 'GET', 'TEXT',1,1);
		}
		function clear_history_Response(res)
		{
		document.getElementById('history_list').innerHTML = '您已清空最近浏览过的商品';
		}
		</script>
		<div class="blank"></div>
      </div>
      <div id="globalBigRight">
        <div class="tab_box">
          <div id="globalAuctionList" class="globalModule">
            <div class="tab_title"><h3>拍卖商品</h3></div>
            <div class="boxCenterList">
              <ul class="group clearfix">
                <li class="f_l">
                  <a href="__APP__/Goods/index"><img src="__ROOT__/public/images/201001/thumb_img/4739_thumb_G_1262821061445.jpg" alt="AMD Phenom II ×4（羿龙II四核）925盒装CPU（Socket AM3/2.8GHz/2M二级缓存/45纳米）" /></a>
                </li>
                <li class="f_r">
                  <form name="theForm" action="auction.php" method="post">
                    &nbsp;商品名称：<font class="f5">AMD Phenom II ×4（羿龙II四核）925盒装CPU（Socket AM3/2.8GHz/2M二级缓存/45纳米）</font>
                    <br>当前价格：￥900.00元
                    <br>起止时间：2010-09-11 08:00:00 -- 2012-09-30 08:00:00
                    <br>起拍价：￥900元
                    <br>加价幅度：￥100元
                    <br>保证金：￥900元<br>
                    <font class="f4">该拍卖活动正在进行中，距离结束时间还有：<span id="leftTime">请稍等, 正在载入中...</span></font>
                    <br />我要出价：
                    <input name="price" type="text" class="inputBg" id="price" size="8" style="vertical-align:middle;"/>
                    <input name="bid" type="submit" class="bnt_blue" id="bid" value="出价" style="vertical-align:middle;" />
                    <input name="act" type="hidden" value="bid" />
                    <input name="id" type="hidden" value="24" /><br />
                  </form>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="blank5"></div>
        <div class="tab_box">
          <div id="globalAuctionList" class="globalModule">
            <div class="tab_title"><h3>活动介绍</h3></div>
            <div class="boxCenterList">AMD Phenom II ×4（羿龙II四核）925盒装CPU（Socket AM3/2.8GHz/2M    </div>
          </div>
        </div>
        <div class="blank5"></div>
        <div class="tab_box">
          <div id="globalAuctionList" class="globalModule">
            <div class="tab_title"><h3>出价记录</h3></div>
            <div class="boxCenterList">
              <table class="table1" width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#dddddd">
                <tr>
                  <th align="center" bgcolor="#ffffff">买家</th>
                  <th align="center" bgcolor="#ffffff">出价</th>
                  <th align="center" bgcolor="#ffffff">时间</th>
                  <th align="center" bgcolor="#ffffff">状态</th>
                </tr>
                <tr>
                  <td colspan="4" align="center" bgcolor="#ffffff">暂时没有买家出价</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="blank"></div>
      
      <include file="Public:footer" />
    
    </div>
  </body>
</html>