<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>苹果_京东网上商城-综合网购首选</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="__ROOT__/public/js/common.js"></script>
    <script type="text/javascript" src="__ROOT__/public/js/global.js"></script>
    <script type="text/javascript" src="__ROOT__/public/js/compare.js"></script>
    <link href="__ROOT__/public/themes/jindong/stye1024.css" type="text/css" rel="stylesheet" />
    <style type="text/css">
	<!--
	.age_box a{float: left; height:22px; line-height:22px; width:92px; background:url(__ROOT__/public/themes/jindong/images/biao6.gif) 0 center no-repeat; padding-left:10px;font-family:Arial, Helvetica, sans-serif;color:#333333}
	-->
	</style>
	<script type="Text/Javascript" language="JavaScript">
	function selectPage(sel)
	{
	  sel.form.submit();
	}
	window.onload = function()
	{
	  Compare.init();
	  fixpng();
	}
	var button_compare = '';
	var exist = "您已经选择了%s";
	var count_limit = "最多只能选择4个商品进行对比";
	var goods_type_different = "\"%s\"和已选择商品类型不同无法进行对比";
	var compare_no_goods = "您没有选定任何需要比较的商品或者比较的商品数少于 2 个。";
	var btn_buy = "购买";
	var is_cancel = "取消";
	var select_spe = "请选择商品属性";
	</script>
  </head>
  <body>
    <div id="container">
      
      <include file="Public:header" />
      
      <div class="p_w" style="clear:both; overflow:hidden"></div>
      <div id="urHere" class="globalModule">
        <h3><a href=".">首页</a> <code>&gt;</code> 苹果</h3>
      </div>
      <div class="blank"></div>
      <div id="globalLeft" class="liye">
        <div class="globalModule1">
          <h3 class="h32"><b>商品分类</b> <a target="_blank" href="__APP__/Search/index">全部分类>></a></h3>
          <div class="my_left_category">
            <div class="blank" style="height:0; _display:none"></div>
            <h2> <a target="_blank" href="category.php?id=355"> 展销会专栏</a></h2>
            <div class="h2_cat" onmouseover="this.className='h2_cat active_cat'" onmouseout="this.className='h2_cat'">
              <h3>
                <div class="xianzhi"><a target="_blank" href="category.php?id=360">休闲食品</a> <span class="des">- </span></div>
              </h3>
              <div class="h3_cat">
                <div class="shadow">
                  <div class="shadow_border">
                    <ul>
                      <li><a target="_blank" href="category.php?id=365">恰恰系列</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="h2_cat" onmouseover="this.className='h2_cat active_cat'" onmouseout="this.className='h2_cat'">
              <h3>
                <div class="xianzhi"><a target="_blank" href="category.php?id=360">休闲食品</a> <span class="des">- </span></div>
              </h3>
              <div class="h3_cat">
                <div class="shadow">
                  <div class="shadow_border">
                    <ul>
                      <li><a target="_blank" href="category.php?id=365">恰恰系列</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="h2_cat" onmouseover="this.className='h2_cat active_cat'" onmouseout="this.className='h2_cat'">
              <h3>
                <div class="xianzhi"><a target="_blank" href="category.php?id=360">休闲食品</a> <span class="des">- </span></div>
              </h3>
              <div class="h3_cat">
                <div class="shadow">
                  <div class="shadow_border">
                    <ul>
                      <li><a target="_blank" href="category.php?id=365">恰恰系列</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <h2> <a target="_blank" href="category.php?id=17"> 手机数码</a></h2>
            <div class="h2_cat" onmouseover="this.className='h2_cat active_cat'" onmouseout="this.className='h2_cat'">
              <h3>
                <div class="xianzhi"><a target="_blank" href="category.php?id=32">手机通讯</a> <span class="des">-  GSM手机  CDMA手机   双模手机  3G手机  双卡手机   对讲机</span></div>
              </h3>
              <div class="h3_cat">
                <div class="shadow">
                  <div class="shadow_border">
                    <ul>
                      <li><a target="_blank" href="#">GSM手机</a></li>
                      <li><a target="_blank" href="#">GSM手机</a></li>
                      <li><a target="_blank" href="#">GSM手机</a></li>
                      <li><a target="_blank" href="#">GSM手机</a></li>
                      <li><a target="_blank" href="#">GSM手机</a></li>
                      <li><a target="_blank" href="#">GSM手机</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="h2_cat" onmouseover="this.className='h2_cat active_cat'" onmouseout="this.className='h2_cat'">
              <h3>
                <div class="xianzhi"><a target="_blank" href="category.php?id=32">手机通讯</a> <span class="des">-  GSM手机  CDMA手机   双模手机  3G手机  双卡手机   对讲机</span></div>
              </h3>
              <div class="h3_cat">
                <div class="shadow">
                  <div class="shadow_border">
                    <ul>
                      <li><a target="_blank" href="#">GSM手机</a></li>
                      <li><a target="_blank" href="#">GSM手机</a></li>
                      <li><a target="_blank" href="#">GSM手机</a></li>
                      <li><a target="_blank" href="#">GSM手机</a></li>
                      <li><a target="_blank" href="#">GSM手机</a></li>
                      <li><a target="_blank" href="#">GSM手机</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="h2_cat" onmouseover="this.className='h2_cat active_cat'" onmouseout="this.className='h2_cat'">
              <h3>
                <div class="xianzhi"><a target="_blank" href="category.php?id=32">手机通讯</a> <span class="des">-  GSM手机  CDMA手机   双模手机  3G手机  双卡手机   对讲机</span></div>
              </h3>
              <div class="h3_cat">
                <div class="shadow">
                  <div class="shadow_border">
                    <ul>
                      <li><a target="_blank" href="#">GSM手机</a></li>
                      <li><a target="_blank" href="#">GSM手机</a></li>
                      <li><a target="_blank" href="#">GSM手机</a></li>
                      <li><a target="_blank" href="#">GSM手机</a></li>
                      <li><a target="_blank" href="#">GSM手机</a></li>
                      <li><a target="_blank" href="#">GSM手机</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="blank"></div>
          </div>
        </div>
        <div class="blank"></div>
        <div class="blank"></div>
        <div id="topList" class="globalModule">
          <h3><div id="list_t_l"><div id="list_t_r"><b>销售排行</b></div></div></h3>
          <div id="global_box">
            <ul>
              <li style=" overflow:hidden;">
                <span class="count" >1</span>
                <div class="top_one">
                  <a style="color:#FFF" href="__APP__/Goods/index" title=""><img style=" width:50px; height:38px;" src="__ROOT__/public/images/201001/thumb_img/4753_thumb_G_1264530751217.jpg" alt="" class="samllimg" /> </a>
                  <a style="float:left" href="__APP__/Goods/index" title="">贝尔莱德 蒸汽挂烫机GS18-DJ/H ... <br/>美智价：<font class="f1">￥199元</font></a>
                </div>
                <div style="clear:both"></div>
              </li>
              <li style=" overflow:hidden;">
                <span class="count" >2</span>
                <a href="__APP__/Goods/index" title="">多普达(Dopod) S505 CDMA...</a>
              </li>
              <li style=" overflow:hidden;">
                <span class="count" >3</span>
                <a href="__APP__/Goods/index" title="">多普达(Dopod) S505 CDMA...</a>
              </li>
              <li style=" overflow:hidden;">
                <span class="count" >4</span>
                <a href="__APP__/Goods/index" title="">多普达(Dopod) S505 CDMA...</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div id="globalBigRight">
        <div class="tab_box">
          <div id="globalBrandInfo" class="globalModule">
            <div class="tab_title"><h3>苹果</h3></div>
            <p id="globalBrandInfoLogo"><img src="__ROOT__/public/data/brandlogo/1261024702576255018.jpg" alt="" /></p>
            <div id="globalBrandInfoList">
              <p>
                <strong>官方网站：</strong>
                <a href="http://www.apple.com.cn" target="_blank">http://www.apple.com.cn</a>
              </p>
              <p>
                <strong>分类浏览：</strong>
                <a href="#">所有分类</a>
                <a href="#">洗衣机</a> <span class="textDesc">(1)</span>
              </p>
              <p class="textDesc">苹果-全国知名音频品牌</p>
            </div>
          </div>
          <div id="globalGoodsList" class="globalModule">
            <div class="globalGoodsListMenu2">
              <form method="get" action="#" class="sort" name="listform">
                <span style="position:relative; top:-5px;">排序：</span>
                <a href="#"><img src="__ROOT__/public/themes/jindong/images/goods_id_DESC.gif" alt="按上架时间排序"></a>
                <a href="#"><img src="__ROOT__/public/themes/jindong/images/shop_price_default.gif" alt="按价格排序"></a>
                <a href="#"><img src="__ROOT__/public/themes/jindong/images/last_update_default.gif" alt="按更新时间排序"></a>
                <form method="get" class="sort" name="listform" style="float:right;">
                  <span style="margin-bottom:2px;" class="globalGoodsListMenuDisplay">显示方式：
                    <a href="javascript:;" onClick="javascript:display_mode('list')"><img src="__ROOT__/public/themes/jindong/images/btn_display_mode_list.gif" alt=""></a>
                    <a href="javascript:;" onClick="javascript:display_mode('grid')"><img src="__ROOT__/public/themes/jindong/images/btn_display_mode_grid_act.gif" alt=""></a>
                    <a href="javascript:;" onClick="javascript:display_mode('text')"><img src="__ROOT__/public/themes/jindong/images/btn_display_mode_text.gif" alt=""></a>&nbsp;&nbsp;
                    <input type="hidden" name="category" value="0" />
                    <input type="hidden" name="display" value="grid" id="display" />
                    <input type="hidden" name="brand" value="247" />
                    <input type="hidden" name="price_min" value="" />
                    <input type="hidden" name="price_max" value="" />
                    <input type="hidden" name="filter_attr" value="" />
                    <input type="hidden" name="page" value="1" />
                    <input type="hidden" name="sort" value="goods_id" />
                    <input type="hidden" name="order" value="DESC" />
                  </span>
                </form>
              </div>
              <div class="list_b">
                <span>总计 <b>1</b>  个记录</span>
              </div>
              <div class="itemGrid" >
                <div class="item">
                  <p class="pic"><a href="__APP__/Goods/index"><img src="__ROOT__/public/images/201001/thumb_img/4664_thumb_G_1262404594962.jpg" alt="三洋（SANYO）洗衣机 XQB60-5..." /></a></p>
                  <p class="name">
                    <a href="__APP__/Goods/index" title="">三洋（SANYO）洗衣机 XQB60-5...</a>
                  </p>
                  <p class="price">
                    <font class="marketPrice">￥1558元</font>
                    <span class="goodsPrice">￥1298元</span>
                  </p>
                  <p class="btnList">
                    <a href="javascript:addToCart(4664)"><img src="__ROOT__/public/themes/jindong/images/buttons_buy.gif"></a>   <a href="javascript:collect(4664)"><img src="__ROOT__/public/themes/jindong/images/buttons_coll.gif"></a> <a href="javascript:;" onClick="Compare.add(4664,'三洋（SANYO）洗衣机 XQB60-5...')"><img src="__ROOT__/public/themes/jindong/images/buttons_comp.gif"></a>
                  </p>
                </div>
                <div class="item">
                  <p class="pic"><a href="__APP__/Goods/index"><img src="__ROOT__/public/images/201001/thumb_img/4664_thumb_G_1262404594962.jpg" alt="三洋（SANYO）洗衣机 XQB60-5..." /></a></p>
                  <p class="name">
                    <a href="__APP__/Goods/index" title="">三洋（SANYO）洗衣机 XQB60-5...</a>
                  </p>
                  <p class="price">
                    <font class="marketPrice">￥1558元</font>
                    <span class="goodsPrice">￥1298元</span>
                  </p>
                  <p class="btnList">
                    <a href="javascript:addToCart(4664)"><img src="__ROOT__/public/themes/jindong/images/buttons_buy.gif"></a>   <a href="javascript:collect(4664)"><img src="__ROOT__/public/themes/jindong/images/buttons_coll.gif"></a> <a href="javascript:;" onClick="Compare.add(4664,'三洋（SANYO）洗衣机 XQB60-5...')"><img src="__ROOT__/public/themes/jindong/images/buttons_comp.gif"></a>
                  </p>
                </div>
                <div class="item">
                  <p class="pic"><a href="__APP__/Goods/index"><img src="__ROOT__/public/images/201001/thumb_img/4664_thumb_G_1262404594962.jpg" alt="三洋（SANYO）洗衣机 XQB60-5..." /></a></p>
                  <p class="name">
                    <a href="__APP__/Goods/index" title="">三洋（SANYO）洗衣机 XQB60-5...</a>
                  </p>
                  <p class="price">
                    <font class="marketPrice">￥1558元</font>
                    <span class="goodsPrice">￥1298元</span>
                  </p>
                  <p class="btnList">
                    <a href="javascript:addToCart(4664)"><img src="__ROOT__/public/themes/jindong/images/buttons_buy.gif"></a>   <a href="javascript:collect(4664)"><img src="__ROOT__/public/themes/jindong/images/buttons_coll.gif"></a> <a href="javascript:;" onClick="Compare.add(4664,'三洋（SANYO）洗衣机 XQB60-5...')"><img src="__ROOT__/public/themes/jindong/images/buttons_comp.gif"></a>
                  </p>
                </div>
              </div>
            </div>
            <div class="blank"></div>
            <form name="selectPageForm" action="__APP__/Brand/index" method="get">
              <div id="pager"></div>
            </form>
          </div>
        </div>
        <div class="blank"></div>
        
        <include file="Public:footer" />
      
      </div>
    </body>
</html>