<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>所有品牌_京东网上商城-综合网购首选</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="__ROOT__/public/js/common.js"></script>
    <script type="text/javascript" src="__ROOT__/public/js/global.js"></script>
    <script type="text/javascript" src="__ROOT__/public/js/compare.js"></script>
    <link href="__ROOT__/public/themes/jindong/stye1024.css" type="text/css" rel="stylesheet" />
    <style type="text/css">
	<!--
	.age_box a{float: left; height:22px; line-height:22px; width:92px; background:url(themes/jindong/images/biao6.gif) 0 center no-repeat; padding-left:10px;font-family:Arial, Helvetica, sans-serif;color:#333333}
	-->
	</style>
  </head>
  <body>
    <div id="container">
      
      <include file="Public:header" />
      
      <div class="p_w" style="clear:both; overflow:hidden"></div>
      <div id="globalLeft" class="liye">
        <div class="globalModule1">
          <h3 class="h32"><b>商品分类</b> <a target="_blank" href="__APP__/Search/index">全部分类>></a></h3>
          <div class="my_left_category">
            <div class="blank" style="height:0; _display:none"></div>
            <h2> <a target="_blank" href="category.php?id=355"> 展销会专栏</a></h2>
            <div class="h2_cat" onmouseover="this.className='h2_cat active_cat'" onmouseout="this.className='h2_cat'">
              <h3>
                <div class="xianzhi"><a target="_blank" href="category.php?id=360">休闲食品</a> <span class="des">- </span></div>
              </h3>
              <div class="h3_cat">
                <div class="shadow">
                  <div class="shadow_border">
                    <ul>
                      <li><a target="_blank" href="category.php?id=365">恰恰系列</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="h2_cat" onmouseover="this.className='h2_cat active_cat'" onmouseout="this.className='h2_cat'">
              <h3>
                <div class="xianzhi"><a target="_blank" href="category.php?id=360">休闲食品</a> <span class="des">- </span></div>
              </h3>
              <div class="h3_cat">
                <div class="shadow">
                  <div class="shadow_border">
                    <ul>
                      <li><a target="_blank" href="category.php?id=365">恰恰系列</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="h2_cat" onmouseover="this.className='h2_cat active_cat'" onmouseout="this.className='h2_cat'">
              <h3>
                <div class="xianzhi"><a target="_blank" href="category.php?id=360">休闲食品</a> <span class="des">- </span></div>
              </h3>
              <div class="h3_cat">
                <div class="shadow">
                  <div class="shadow_border">
                    <ul>
                      <li><a target="_blank" href="category.php?id=365">恰恰系列</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <h2> <a target="_blank" href="category.php?id=17"> 手机数码</a></h2>
            <div class="h2_cat" onmouseover="this.className='h2_cat active_cat'" onmouseout="this.className='h2_cat'">
              <h3>
                <div class="xianzhi"><a target="_blank" href="category.php?id=32">手机通讯</a> <span class="des">-  GSM手机  CDMA手机   双模手机  3G手机  双卡手机   对讲机</span></div>
              </h3>
              <div class="h3_cat">
                <div class="shadow">
                  <div class="shadow_border">
                    <ul>
                      <li><a target="_blank" href="#">GSM手机</a></li>
                      <li><a target="_blank" href="#">GSM手机</a></li>
                      <li><a target="_blank" href="#">GSM手机</a></li>
                      <li><a target="_blank" href="#">GSM手机</a></li>
                      <li><a target="_blank" href="#">GSM手机</a></li>
                      <li><a target="_blank" href="#">GSM手机</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="h2_cat" onmouseover="this.className='h2_cat active_cat'" onmouseout="this.className='h2_cat'">
              <h3>
                <div class="xianzhi"><a target="_blank" href="category.php?id=32">手机通讯</a> <span class="des">-  GSM手机  CDMA手机   双模手机  3G手机  双卡手机   对讲机</span></div>
              </h3>
              <div class="h3_cat">
                <div class="shadow">
                  <div class="shadow_border">
                    <ul>
                      <li><a target="_blank" href="#">GSM手机</a></li>
                      <li><a target="_blank" href="#">GSM手机</a></li>
                      <li><a target="_blank" href="#">GSM手机</a></li>
                      <li><a target="_blank" href="#">GSM手机</a></li>
                      <li><a target="_blank" href="#">GSM手机</a></li>
                      <li><a target="_blank" href="#">GSM手机</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="h2_cat" onmouseover="this.className='h2_cat active_cat'" onmouseout="this.className='h2_cat'">
              <h3>
                <div class="xianzhi"><a target="_blank" href="category.php?id=32">手机通讯</a> <span class="des">-  GSM手机  CDMA手机   双模手机  3G手机  双卡手机   对讲机</span></div>
              </h3>
              <div class="h3_cat">
                <div class="shadow">
                  <div class="shadow_border">
                    <ul>
                      <li><a target="_blank" href="#">GSM手机</a></li>
                      <li><a target="_blank" href="#">GSM手机</a></li>
                      <li><a target="_blank" href="#">GSM手机</a></li>
                      <li><a target="_blank" href="#">GSM手机</a></li>
                      <li><a target="_blank" href="#">GSM手机</a></li>
                      <li><a target="_blank" href="#">GSM手机</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="blank"></div>
          </div>
        </div>
        <div class="blank"></div>
        <div class="blank"></div>
        <div class="box" id='history_div'>
          <div id="globalHistory" class="globalModule" >
            <h3 class="h3_3" style="border-bottom:1px dotted #efefef"><div id="list_t_l"><div id="list_t_r"><b style="color:#333">最近浏览过的商品</b></div></div></h3>
            <div id="global_box" >
              <ul id="history_list" class="boxCenterList">
                <ul class="clearfix">
                  <li class="goodsimg"><a href="__APP__/Goods/index" target="_blank"><img src="__ROOT__/public/images/201001/thumb_img/4695_thumb_G_1262413210121.jpg" alt="松下（Panasonic）NI-S100TS 蒸汽电熨斗 1200w" class="B_blue" /></a></li>
                  <li><a  class="name2" href="__APP__/Goods/index" target="_blank" title="松下（Panasonic）NI-S100TS 蒸汽电熨斗 1200w">松下（Panasonic）NI-S100...</a><font class="f1">￥89元</font><br /></li>
                </ul>
                <ul class="clearfix">
                  <li class="goodsimg"><a href="__APP__/Goods/index" target="_blank"><img src="__ROOT__/public/images/201001/thumb_img/4695_thumb_G_1262413210121.jpg" alt="松下（Panasonic）NI-S100TS 蒸汽电熨斗 1200w" class="B_blue" /></a></li>
                  <li><a  class="name2" href="__APP__/Goods/index" target="_blank" title="松下（Panasonic）NI-S100TS 蒸汽电熨斗 1200w">松下（Panasonic）NI-S100...</a><font class="f1">￥89元</font><br /></li>
                </ul>
                <ul class="clearfix">
                  <li class="goodsimg"><a href="__APP__/Goods/index" target="_blank"><img src="__ROOT__/public/images/201001/thumb_img/4695_thumb_G_1262413210121.jpg" alt="松下（Panasonic）NI-S100TS 蒸汽电熨斗 1200w" class="B_blue" /></a></li>
                  <li><a  class="name2" href="__APP__/Goods/index" target="_blank" title="松下（Panasonic）NI-S100TS 蒸汽电熨斗 1200w">松下（Panasonic）NI-S100...</a><font class="f1">￥89元</font><br /></li>
                </ul>
              </ul>
            </div>
          </div>
        </div>
		<script type="text/javascript">
		if (document.getElementById('history_list').innerHTML.replace(/\s/g,'').length<1)
		{
		    document.getElementById('history_div').style.display='none';
		}
		else
		{
		    document.getElementById('history_div').style.display='block';
		}
		function clear_history()
		{
		Ajax.call('user.php', 'act=clear_history',clear_history_Response, 'GET', 'TEXT',1,1);
		}
		function clear_history_Response(res)
		{
		document.getElementById('history_list').innerHTML = '您已清空最近浏览过的商品';
		}
		</script>
		<div class="blank"></div>
      </div>
      <div id="globalBigRight">
        <div class="tab_box">
          <div id="urHere" class="globalModule">
            <h3><a href=".">首页</a> <code>&gt;</code> 所有品牌</h3>
          </div>
          <div class="blank"></div>
          <div id="globalGroupList" class="globalModule">
            <div class="tab_title"><h3>所有品牌</h3></div>
            <div class="itemList">
              <div class="brandLogoBox">
                <h6><span>苹果</span> (1)</h6>
                <div class="brandLogoImg">
                  <a href="__APP__/Brand/brand"><img src="__ROOT__/public/data/brandlogo/1261024702576255018.jpg" alt="苹果 (1)" /></a>
                </div>
                <p title="苹果-全国知名音频品牌">苹果-全国知名音频品牌</p>
              </div>
              <div class="brandLogoBox">
                <h6><span>苹果</span> (1)</h6>
                <div class="brandLogoImg">
                  <a href="__APP__/Brand/brand"><img src="__ROOT__/public/data/brandlogo/1261024702576255018.jpg" alt="苹果 (1)" /></a>
                </div>
                <p title="苹果-全国知名音频品牌">苹果-全国知名音频品牌</p>
              </div>
              <div class="brandLogoBox">
                <h6><span>苹果</span> (1)</h6>
                <div class="brandLogoImg">
                  <a href="__APP__/Brand/brand"><img src="__ROOT__/public/data/brandlogo/1261024702576255018.jpg" alt="苹果 (1)" /></a>
                </div>
                <p title="苹果-全国知名音频品牌">苹果-全国知名音频品牌</p>
              </div>
              <div class="brandLogoBox">
                <h6><span>苹果</span> (1)</h6>
                <div class="brandLogoImg">
                  <a href="__APP__/Brand/brand"><img src="__ROOT__/public/data/brandlogo/1261024702576255018.jpg" alt="苹果 (1)" /></a>
                </div>
                <p title="苹果-全国知名音频品牌">苹果-全国知名音频品牌</p>
              </div>
              <div class="brandLogoBox">
                <h6><span>苹果</span> (1)</h6>
                <div class="brandLogoImg">
                  <a href="__APP__/Brand/brand"><img src="__ROOT__/public/data/brandlogo/1261024702576255018.jpg" alt="苹果 (1)" /></a>
                </div>
                <p title="苹果-全国知名音频品牌">苹果-全国知名音频品牌</p>
              </div>
              <div class="brandLogoBox">
                <h6><span>苹果</span> (1)</h6>
                <div class="brandLogoImg">
                  <a href="__APP__/Brand/brand"><img src="__ROOT__/public/data/brandlogo/1261024702576255018.jpg" alt="苹果 (1)" /></a>
                </div>
                <p title="苹果-全国知名音频品牌">苹果-全国知名音频品牌</p>
              </div>
              <div class="brandLogoBox">
                <h6><span>苹果</span> (1)</h6>
                <div class="brandLogoImg">
                  <a href="__APP__/Brand/brand"><img src="__ROOT__/public/data/brandlogo/1261024702576255018.jpg" alt="苹果 (1)" /></a>
                </div>
                <p title="苹果-全国知名音频品牌">苹果-全国知名音频品牌</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="blank"></div>
      
      <include file="Public:footer" />
      
    </div>
  </body>
</html>