<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>DIY装机-986万资源社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="__ROOT__/public/js/common.js"></script>
    <script type="text/javascript" src="__ROOT__/public/js/index.js"></script>
    <script src="__ROOT__/public/themes/jindong/images/nav.js" type=text/javascript></script>
    <script src="__ROOT__/public/themes/jindong/images/jscook.js" type=text/javascript></script>
    <script src="__ROOT__/public/themes/jindong/images/xiangdao.js" type=text/javascript></script>
    <script src="__ROOT__/public/themes/jindong/images/commit.js" type=text/javascript></script>
    <link href="__ROOT__/public/themes/jindong/stye1024.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript">
	function show_menu(obj_s,obj){
		var  s_id = document.getElementById(obj_s);
		var  sc_id = document.getElementById(obj);
		     s_id.style.display = "";
		     //sc_id.className = "ahv";
	}
	     	
	function hide_menu(obj_h,obj){
		var  h_id = document.getElementById(obj_h);
		var  hc_id = document.getElementById(obj);
		     h_id.style.display = "none";
		     //hc_id.className = "alk";
	}
	window.onload = function()
	{
	  //fixpng();
	}
	function checkSearchForm()
	{
	    if(document.getElementById('keyword').value)
	    {
	        return true;
	    }
	    else
	    {
			   alert("请输入搜索关键词！");
	        return false;
	    }
	}
  </script>
  </head>
  <body>
    <div id="container">
      
      <include file="Public:header" />
      
      <div class="p_w" style="clear:both; overflow:hidden"></div>
      <div class="diy_body">
        <div class="block clearfix " >
          <div class=main>
            <div class=diynav>
              <a href="/" target="_blank" style="padding:0 10px;"> <img src="__ROOT__/public/themes/jindong/images/recommand.GIF" /></a>
              <a href="__APP__/Diy/diy"><img src="__ROOT__/public/themes/jindong/images/div.GIF" /></a>
              <img src="__ROOT__/public/themes/jindong/images/comment.GIF" />
            </div>
            <div style="padding:8px;">
              <script src="__ROOT__/public/themes/jindong/images/info.js" type=text/javascript></script>
            </div>
            <!--[if !ie]>正文左侧开始<![endif]-->
            <div class=left>
              <div class=pzd_t><img src="__ROOT__/public/themes/jindong/images/b1.gif" width=426 height=88></div>
              <div class=pzd_c>
                <div class=pzdlist_wrap>
                  <div class=pzdlist_thead>
                    <table border=0 cellspacing=0 cellpadding=0 width="100%">
                      <tbody>
                        <tr>
                          <td class=first width=60>配件</td>
                          <td>名称</td>
                          <td width=66>价格</td>
                          <td width=54>数量</td>
                          <td width=45>取消</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="pzdlist_td machineFittingsItem">
                    <table border=0 cellspacing=0 cellpadding=0 width="100%">
                      <tbody>
                        <tr>
                          <td class=first width=60>CPU</td>
                          <td class=align_left><span id=span_M_CPU1 style="margin-left:10px">&nbsp;</span></td>
                          <td class="machineFittingsPrice price" width=66><span class=￥ id=span_M_CPU2>&nbsp;</span></td>
                          <td width=54><span id=span_M_CPU3>&nbsp;</span></td>
                          <td width=45>
                            <a onclick='javascript:deltitle("M_CPU")' href="javascript:;">
                              <img height=22 src="__ROOT__/public/themes/jindong/images/DIY_ZX_26.gif" width=22 />
                            </a>
                            <input id=Id_M_CPU type=hidden name=Id_M_CPU />
                            <input id=Price_M_CPU  type=hidden value=0 name=Price_M_CPU />
                            <input id=Price1_M_CPU type=hidden value=0 name=Price1_M_CPU />
                            <input id=num_M_CPU type=hidden value=0 name=num_M_CPU />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="pzdlist_td machineFittingsItem">
                    <table border=0 cellspacing=0 cellpadding=0 width="100%">
                      <tbody>
                        <tr>
                          <td class=first width=60>CPU</td>
                          <td class=align_left><span id=span_M_CPU1 style="margin-left:10px">&nbsp;</span></td>
                          <td class="machineFittingsPrice price" width=66><span class=￥ id=span_M_CPU2>&nbsp;</span></td>
                          <td width=54><span id=span_M_CPU3>&nbsp;</span></td>
                          <td width=45>
                            <a onclick='javascript:deltitle("M_CPU")' href="javascript:;">
                              <img height=22 src="__ROOT__/public/themes/jindong/images/DIY_ZX_26.gif" width=22 />
                            </a>
                            <input id=Id_M_CPU type=hidden name=Id_M_CPU />
                            <input id=Price_M_CPU  type=hidden value=0 name=Price_M_CPU />
                            <input id=Price1_M_CPU type=hidden value=0 name=Price1_M_CPU />
                            <input id=num_M_CPU type=hidden value=0 name=num_M_CPU />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="pzdlist_td machineFittingsItem">
                    <table border=0 cellspacing=0 cellpadding=0 width="100%">
                      <tbody>
                        <tr>
                          <td class=first width=60>CPU</td>
                          <td class=align_left><span id=span_M_CPU1 style="margin-left:10px">&nbsp;</span></td>
                          <td class="machineFittingsPrice price" width=66><span class=￥ id=span_M_CPU2>&nbsp;</span></td>
                          <td width=54><span id=span_M_CPU3>&nbsp;</span></td>
                          <td width=45>
                            <a onclick='javascript:deltitle("M_CPU")' href="javascript:;">
                              <img height=22 src="__ROOT__/public/themes/jindong/images/DIY_ZX_26.gif" width=22 />
                            </a>
                            <input id=Id_M_CPU type=hidden name=Id_M_CPU />
                            <input id=Price_M_CPU  type=hidden value=0 name=Price_M_CPU />
                            <input id=Price1_M_CPU type=hidden value=0 name=Price1_M_CPU />
                            <input id=num_M_CPU type=hidden value=0 name=num_M_CPU />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="pzdlist_td machineFittingsItem">
                    <table border=0 cellspacing=0 cellpadding=0 width="100%">
                      <tbody>
                        <tr>
                          <td class=first width=60><a style="color: #3366ff">装机服务</a></td>
                          <td class=align_left><div class=name><a class=link_1 title="点击链接查看介绍" href="/" target=_blank>选择自提取货装机服务，专人指导不用愁，点击马上了解装机服务各个细节及付款情况</a></div></td>
                        </tr>
                      </tbody>
					</table>
				  </div>
				  <div class="pzdlist_td machineFittingsItem">
                    <table border=0 cellspacing=0 cellpadding=0 width="100%">
                      <tbody>
                        <tr>
                          <td class=first width=60><a style="color: #3366ff">装机服务</a></td>
                          <td class=align_left><div class=name><a class=link_1 title="点击链接查看介绍" href="/" target=_blank>选择自提取货装机服务，专人指导不用愁，点击马上了解装机服务各个细节及付款情况</a></div></td>
                        </tr>
                      </tbody>
					</table>
				  </div>
				  <div class="pzdlist_td machineFittingsItem">
                    <table border=0 cellspacing=0 cellpadding=0 width="100%">
                      <tbody>
                        <tr>
                          <td class=first width=60><a style="color: #3366ff">装机服务</a></td>
                          <td class=align_left><div class=name><a class=link_1 title="点击链接查看介绍" href="/" target=_blank>选择自提取货装机服务，专人指导不用愁，点击马上了解装机服务各个细节及付款情况</a></div></td>
                        </tr>
                      </tbody>
					</table>
				  </div>
				  <FORM name=Form1 action="" method=post>
				    <div class=collect>
				      <strong id=wareallprice class=price>总价：￥<SPAN id=spanallprice>0</SPAN></strong>
				    </div>
				    <div class=operate>
				      <input class="button_qk" onclick="javascript:isclsall();" type="button"/>
				      <input type="image" src="__ROOT__/public/themes/jindong/images/b13.gif" onClick="javascript:return ispost();"  style="margin:0 0 0 100px"/>
				    </div>
				    <INPUT id=strwareid type=hidden name=strwareid>
				    <INPUT id=strwarenum type=hidden name=strwarenum>
				  </FORM>
				</div>
		      </div>
		      <div class=pzd_b></div>
		    </div>
		    
		    <!--[if !ie]>正文左侧结束<![endif]-->
		    <!--[if !ie]>正文右侧开始<![endif]-->
		    
		    <div class=right>
		      <ul class=pzlist>
		        <table class="txt_14" style="border: 0px solid rgb(51, 102, 204);" width="510" cellpadding="0" cellspacing="0" height="52">
		          <tbody>
		            <tr>
		              <td class="txt_14" align="middle" height="25">
		                <a class="curr" href="javascript:ifrurlcpu();">C&nbsp;P&nbsp;U&nbsp;</a>&nbsp; | 
						<a class="abc" href="javascript:ifrurlmainboard();">主　板</a> |
						<a class="abc" href="javascript:ifrurlmainboard();">主　板</a> | 
						<a class="abc" href="javascript:ifrurlmainboard();">主　板</a> | 
						<a class="abc" href="javascript:ifrurlmainboard();">主　板</a> | 
						<a class="abc" href="javascript:ifrurlmainboard();">主　板</a> | 
						<a class="abc" href="javascript:ifrurlmainboard();">主　板</a> 
					  </td>
					</tr>
					<tr>
					  <td class="txt_14" align="middle" height="25">
					    <a href="javascript:ifurl('display');">显示器</a> |
					    <a href="javascript:ifurl('display');">显示器</a> | 
					    <a href="javascript:ifurl('display');">显示器</a> | 
					    <a href="javascript:ifurl('display');">显示器</a> | 
					    <a href="javascript:ifurl('display');">显示器</a> | 
					    <a href="javascript:ifurl('display');">显示器</a> | 
					    <a href="javascript:ifurl('display');">显示器</a> 
				      </td>
				    </tr>
				  </tbody>
				</table>
		      </ul>
		      <div class="GoodsListBox">
		        <div class="listloading"></div>
		        <div>
		          <IFRAME id=if1 name=if1 src="__APP__/Diy/diy" frameBorder=0 width=545 style="float:left; overflow:hidden; height:860px"></IFRAME>
		        </div>
		        <script>//addprice1();</script>
		      </div>
		    </div>
		    
		    <!--[if !ie]>正文右侧结束<![endif]-->
		  
		  </div>
		</div>
	  </div>  
	  <div class="blank"></div>
	  
	  <include file="Public:footer" />

	</div>
  </body>
</html>