<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>所有分类_京东网上商城-综合网购首选</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="__ROOT__/public/js/transport.js"></script>
    <script type="text/javascript" src="__ROOT__/public/js/common.js"></script>
    <link href="__ROOT__/public/themes/jindong/stye1024.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <div id="container">
      
      <include file="Public:header" />
      
      <div class="p_w" style="clear:both; overflow:hidden"></div>
      <div id="globalLeft">
        <div id="o-search" style="bottom:50px;">
          <div class="allsort">
            <div class="mt">
              <strong><a href="__APP__/Catalog/index">全部商品分类</a></strong>
              <div class="extra">&nbsp;</div>
            </div>
            <div class="mc">
              <!-- 左上动态菜单 -->
              <div class="item  fore" onMouseOver="this.className='item  fore  hover';"  onMouseOut="this.className='item  fore';">
                <span>
                  <h3><a href="category.php?id=355">展销会专栏</a></h3>
                  <s></s>
                </span>
                <div class="i-mc">
                  <div class="subitem">
                    <dl  class="fore" >
                      <dt><a href="category.php?id=356">红酒</a></dt>
                      <dd>
                        <em><a href="category.php?id=363">长城干红系列</a></em>
                        <em><a href="category.php?id=356">更多&gt;&gt;</a></em>
                      </dd>
                    </dl>
                  </div>
                  <div class="fr">
				    <dl class="brands">
				      <dt>推荐品牌</dt>
				      <dd> 
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				      </dd>
				    </dl>
				  </div>
                </div>
              </div>
              <div class="item  fore" onMouseOver="this.className='item  fore  hover';"  onMouseOut="this.className='item  fore';">
                <span>
                  <h3><a href="category.php?id=355">展销会专栏</a></h3>
                  <s></s>
                </span>
                <div class="i-mc">
                  <div class="subitem">
                    <dl  class="fore" >
                      <dt><a href="category.php?id=356">红酒</a></dt>
                      <dd>
                        <em><a href="category.php?id=363">长城干红系列</a></em>
                        <em><a href="category.php?id=356">更多&gt;&gt;</a></em>
                      </dd>
                    </dl>
                  </div>
                  <div class="fr">
				    <dl class="brands">
				      <dt>推荐品牌</dt>
				      <dd> 
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				      </dd>
				    </dl>
				  </div>
                </div>
              </div>
              <div class="item  fore" onMouseOver="this.className='item  fore  hover';"  onMouseOut="this.className='item  fore';">
                <span>
                  <h3><a href="category.php?id=355">展销会专栏</a></h3>
                  <s></s>
                </span>
                <div class="i-mc">
                  <div class="subitem">
                    <dl  class="fore" >
                      <dt><a href="category.php?id=356">红酒</a></dt>
                      <dd>
                        <em><a href="category.php?id=363">长城干红系列</a></em>
                        <em><a href="category.php?id=356">更多&gt;&gt;</a></em>
                      </dd>
                    </dl>
                  </div>
                  <div class="fr">
				    <dl class="brands">
				      <dt>推荐品牌</dt>
				      <dd> 
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				      </dd>
				    </dl>
				  </div>
                </div>
              </div>
              <div class="item  fore" onMouseOver="this.className='item  fore  hover';"  onMouseOut="this.className='item  fore';">
                <span>
                  <h3><a href="category.php?id=355">展销会专栏</a></h3>
                  <s></s>
                </span>
                <div class="i-mc">
                  <div class="subitem">
                    <dl  class="fore" >
                      <dt><a href="category.php?id=356">红酒</a></dt>
                      <dd>
                        <em><a href="category.php?id=363">长城干红系列</a></em>
                        <em><a href="category.php?id=356">更多&gt;&gt;</a></em>
                      </dd>
                    </dl>
                  </div>
                  <div class="fr">
				    <dl class="brands">
				      <dt>推荐品牌</dt>
				      <dd> 
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				        <a href="#" style="margin-right:3px;width:70px;display:block; float:left; height:18px; line-height:18px; margin:0 0 3px; overflow:hidden;">飞利浦</a>
				      </dd>
				    </dl>
				  </div>
                </div>
              </div>
              <div class="extra">
                <a href="__APP__/Catalog/index">全部商品分类</a>
              </div>
            </div>
          </div>
        </div>
        <div class="blank"></div>
      </div>
      <div id="globalBigRight" class="tab_box">
        <div id="globalCatalogList" class="globalModule globalFrame">
          <div class="tab_title"><h3>所有分类</h3></div>
          <div class="globalModuleContent">
            <p>
              <dl>
                <dt><a href="__APP__/Catalog/view"><font color="#FF0000"><b>展销会专栏</b></font></a> <span class="textDesc">(0)</span></dt>
                <a href="__APP__/Catalog/view">必备年货精品</a> <span class="textDesc">(0)</span>
                <a href="__APP__/Catalog/view">干果</a> <span class="textDesc">(0)</span>
                <a href="__APP__/Catalog/view">干果</a> <span class="textDesc">(0)</span>
                <a href="__APP__/Catalog/view">干果</a> <span class="textDesc">(0)</span>
                <a href="__APP__/Catalog/view">干果</a> <span class="textDesc">(0)</span>
                <a href="__APP__/Catalog/view">干果</a> <span class="textDesc">(0)</span>
                <a href="__APP__/Catalog/view">干果</a> <span class="textDesc">(0)</span>
                <a href="__APP__/Catalog/view">干果</a> <span class="textDesc">(0)</span>
                
                <dt><a href="__APP__/Catalog/view"><font color="#FF0000"><b>展销会专栏</b></font></a> <span class="textDesc">(0)</span></dt>
                <a href="__APP__/Catalog/view">必备年货精品</a> <span class="textDesc">(0)</span>
                <a href="__APP__/Catalog/view">干果</a> <span class="textDesc">(0)</span>
                <a href="__APP__/Catalog/view">干果</a> <span class="textDesc">(0)</span>
                <a href="__APP__/Catalog/view">干果</a> <span class="textDesc">(0)</span>
                <a href="__APP__/Catalog/view">干果</a> <span class="textDesc">(0)</span>
              </dl>
            </p>
          </div>
        </div>
        <div id="globalBrandList" class="globalModule globalFrame">
          <div class="tab_title"><h3>所有品牌</h3></div>
          <div class="globalModuleContent">
            <p><a href="__APP__/Brand/brand">苹果</a> <span class="textDesc">(1)</span></p>
            <p><a href="__APP__/Brand/brand">索尼</a> <span class="textDesc">(1)</span></p>
            <p><a href="__APP__/Brand/brand">爱普生</a> <span class="textDesc">(1)</span></p>
            <p><a href="__APP__/Brand/brand">logitech(罗技）</a> <span class="textDesc">(1)</span></p>
            <p><a href="__APP__/Brand/brand">酷冷至尊</a> <span class="textDesc">(1)</span></p>
            <p><a href="__APP__/Brand/brand">Intel(英特尔）</a> <span class="textDesc">(9)</span></p>
            <p><a href="__APP__/Brand/brand">Lenovo（联想)</a> <span class="textDesc">(2)</span></p>
            <p><a href="__APP__/Brand/brand">飞利浦</a> <span class="textDesc">(2)</span></p>
            <p><a href="__APP__/Brand/brand">AMD</a> <span class="textDesc">(8)</span></p>
            <p><a href="__APP__/Brand/brand">HP（惠普)</a> <span class="textDesc">(2)</span></p>
            <p><a href="__APP__/Brand/brand">金士顿</a> <span class="textDesc">(1)</span></p>
            <p><a href="__APP__/Brand/brand">dell(戴尔)</a> <span class="textDesc">(3)</span></p>
            <p><a href="__APP__/Brand/brand">NOKIA（诺基亚）</a> <span class="textDesc">(5)</span></p>
            <p><a href="__APP__/Brand/brand">冠捷</a> <span class="textDesc">(1)</span></p>
            <p><a href="__APP__/Brand/brand">华硕</a> <span class="textDesc">(1)</span></p>
            <p><a href="__APP__/Brand/brand">多彩</a> <span class="textDesc">(1)</span></p>
            <p><a href="__APP__/Brand/brand">技嘉</a> <span class="textDesc">(3)</span></p>
            <p><a href="__APP__/Brand/brand">佳能</a> <span class="textDesc">(2)</span></p>
            <p><a href="__APP__/Brand/brand">贝尔金</a> <span class="textDesc">(1)</span></p>
            <p><a href="__APP__/Brand/brand">三星</a> <span class="textDesc">(1)</span></p>
            <p><a href="__APP__/Brand/brand">海尔</a> <span class="textDesc">(1)</span></p>
            <p><a href="__APP__/Brand/brand">新蓝</a> <span class="textDesc">(1)</span></p>
            <p><a href="__APP__/Brand/brand">金果子</a> <span class="textDesc">(1)</span></p>
          </div>
        </div>
      </div>
      <div class="blank"></div>
      
      <include file="Public:footer" />
    
    </div>
  </body>
</html>